@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

.pacman {
  width: 48px;
}

body {
  margin: 8px 16px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  background: black;
  /* background-image: url(http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c313.png); */
  color: yellow;
}

@media screen and (min-device-width: 1200px) {
  body {
    margin: 32px 64px;
  }
}

.d-flex{
  display: flex;
}

.container .terminal-base{
  height: 500px;
  min-height: 500px;
}

.EAST {
  transform: rotate(0);
}
.NORTH {
  transform: rotate(-90deg);
}
.SOUTH {
  transform: rotate(90deg);
}
.WEST {
  transform: scaleX(-1);
}
